apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: zitadel-db
  namespace: zitadel
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/sync-wave: "-1"
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6-standard-trixie
  storage:
    size: 10Gi
  bootstrap:
    initdb:
      database: zitadel
      owner: zitadel
  postgresql:
    parameters:
      timezone: "Europe/Prague"
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: zitadel-backup-s3
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: zitadel-backup-s3
  namespace: zitadel
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/sync-wave: "-1"
spec:
  retentionPolicy: "30d"
  configuration:
    destinationPath: s3://zitadel-db-backup/hprod01
    endpointURL: https://s3.eu-central-1.amazonaws.com
    s3Credentials:
      accessKeyId:
        name: aws-credentials
        key: accesskey
      secretAccessKey:
        name: aws-credentials
        key: secretkey
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: zitadel-backup
  namespace: zitadel
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/sync-wave: "-1"
spec:
  backupOwnerReference: self
  cluster:
    name: zitadel-db
  immediate: true
  method: plugin
  schedule: 0 0 0 * * *
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
